/Users/willbaltazar/Desktop/work_repo/github/.Rhistory
/Users/willbaltazar/Desktop/work_repo/github/misc/.Rhistory
/Users/willbaltazar/Desktop/work_repo/github/RShiny-application/.Rhistory
/Users/willbaltazar/Desktop/work_repo/github/RShiny-application/.RDataTmp
/Users/willbaltazar/Desktop/work_repo/github/RShiny-application/.RDataTmp1
